@import url(styles.css);

input {
    padding: 15px 12px;
    width: 25vw;
    box-sizing: border-box;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#username {
    margin-top: 75px;
    background-image: url('../assets/profile.png');
    background-position: 10px 12px;
}

#password {
    margin-top: 25px;
    background-image: url('../assets/password.png');
    background-position: 10px 12px;
}

#sign-in {
    display: flex;
    margin-top: 25px;
}

h2 {
    margin-top: 16.5vh;
    font-weight: normal;
}

.button {
    margin-top: 50px;
    width: 10vw;
    align-self: center;
}

p {
    color: #292929;
}

#sign-in-button {
    color: #EAEBED;
    margin-left: 3px;
    text-shadow: 2px 2px 4px #000000;
}

#sign-in-button:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#userMessage, #passMessage {
    color: red;
    font-size: 1.5vh;
}
