@import url(styles.css);

/* TODO CONSERTAR BOTÃO */

#config-title {
    margin-top: 4vh;
}

.menu-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.menu-config{
    text-align: center;
}

.input-config{
  margin-left: 7vh;
  text-align: center;
}

.select-label{
    margin-top: 1.9vh;
}

select{
    border-color: transparent transparent #fff transparent;
    border-radius: 0.5vh;
    padding: 0.5vh;
    width: 28vh;
    height: 4vh;
    text-align: center;
    margin-bottom: 3vh;
}

.history-wrap{
    background-color: #EAEBED;
    border: solid black;
    border-radius: 1.2vh;
    border-width: 0.3vh;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.fixed_header{
    width: 40vw;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 40vw;
  overflow: auto;
  height: 30vh;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
    color:#077364;
    text-align: center;
    filter: drop-shadow(0.05rem 0.2rem 0.1rem rgb(190, 187, 187));
    font-weight: 600;
}


.fixed_header th, .fixed_header td {
  padding: 0.5vh;
  text-align: center;
  width: 15vh;
}

#play-button{
    margin-bottom: 6vh;
}

.button-wrap {
    width: 12vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#profile {
    background-image: url('../assets/profile-icon.png');
}

#trophy {
    background-image: url('../assets/trophy-icon.png');
    background-size: 70%;
}

#exit {
    background-image: url('../assets/exit-icon.png');
}

::-webkit-scrollbar {
    width: 9px;
  }
  
  
::-webkit-scrollbar-track {
    background: transparent;
  }
  
 
::-webkit-scrollbar-thumb {
    background: #EAEBED;
    border: solid black;
    border-width: thin;
    border-radius: 1.5vh;
  }

  

