@import url(styles.css);

#config-title {
    margin-top: 2vh;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35vw;
}

.menu-wrap{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 3vh;
}


.input-config{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
}

.select-label{
    margin-top: 1vh;
    border: 2px solid #077364;
}

select{
    border-color: transparent transparent #fff transparent;
    border-radius: 0.5vh;
    padding: 0.5vh;
    width: 28vh;
    height: 4vh;
    text-align: center;
}

.history-wrap{
    background-color: #EAEBED;
    border: solid black;
    border-radius: 1.2vh;
    border-width: 0.3vh;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.fixed_header{
    width: 40vw;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 40vw;
  overflow: auto;
  height: 30vh;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
    color:#077364;
    text-align: center;
    filter: drop-shadow(0.05rem 0.2rem 0.1rem rgb(190, 187, 187));
    font-weight: 600;
}


.fixed_header th, .fixed_header td {
  padding: 0.5vh;
  text-align: center;
  width: 15vh;
}

#play-button{
    margin-bottom: 5vh;
    cursor: pointer;
}

.button-wrap {
    width: 12vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#profile {
    background-image: url('../assets/profile-icon.png');
}

#trophy {
    background-image: url('../assets/trophy-icon.png');
    background-size: 70%;
}

#exit {
    background-image: url('../assets/exit-icon.png');
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 9px;
}
  
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
 
::-webkit-scrollbar-thumb {
    background: #EAEBED;
    border: solid black;
    border-width: thin;
    border-radius: 1.5vh;
}

#boardMessage, #gameMessage {
    color: red;
    font-size: 1.5vh;
}

#historic {
    margin-top: 2vh;
    font-weight: 600;
}

.popup {
    width: 25vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background: #077364;
    border-radius: 10px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.open-popup {
    visibility: visible;
}

.text-pop {
    font-weight: 600;
    font-size: 2vh;
}

.button-pop {
    width: 18vw;
    height: 4vh;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}