@import url(styles.css);

input {
    height: 5.5vh;
    width: 25vw;
    padding-left: 15px;
}

.wrap-input {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.label {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4px;
}

.wrap-label {
    width: 11.6vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4px;
}

.wrap-label input {
    width: 11.6vw;
}

h2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

p {
    margin-left: 2.5px;
}

footer {
    width: 25vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.editprofile{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#user_fill{
    background:#EAEBED;
    width: 18vw;
    height: 5.5vh;
    border-radius: 4px;
    border: 2px solid #077364;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user {
    margin-left: 15px;
}

.picture{
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    margin-left: 10px;
    background-size: cover;
    border: transparent;
}

#act {
    background-image: url('../assets/cards/card_0.jpg');
}

#sheep {
    background-image: url('../assets/cards/card_0.jpg');
}

#whale {
    background-image: url('../assets/cards/card_7.jpg');
}

#tiger {
    background-image: url('../assets/cards/card_10.jpg');
}

#panda {
    background-image: url('../assets/cards/card_20.jpg');
}

#act:hover {
    opacity: 0.5;
    background-image: url('../assets/pencil-icon.png');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.popup {
    display: flex;
    background: #077364;
    border-radius: 4px;
    position: absolute;
    top: 25.3%;
    left: 30%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.open-popup {
    visibility: visible;
}

#back {
    background-image: url('../assets/back.png');
}

footer{
    width: 25vw;
    margin-top: 3vh;
}
