* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    text-decoration: none;
}

.wrapper {
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    /* opacity: 0.8; */
    margin: 0;
    padding: 0;
}

h1 {
    color: #077364;
    font-size: 9vh;
}

h2 {
    color: #292929;
    font-size: 7vh;
}

#title {
    margin-top: 12vh;
}

#logo {
    margin-top: 3vh;
    width: 10vw;
    height: 10vw;
}

.split-window {
    position: fixed;
    background-color: #98C996;
    height: 100vh;
    width: 50vw;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: #EAEBED;
    border-radius: 4px;
    border: 2px solid #077364;   
}

input:focus {
    border: 2px solid red;
}

button {
    background-color: #077364;
    border-radius: 6px;
    width: 8vw;
    height: 5vh;
    border: 2px solid #077364;
    color: #EAEBED;
    font-size: 2.5vh;
}

button:hover {
    border: 2px solid #0e5d52;
    background-color: #0e5d52;
}

.back-window {
    position: fixed;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-window {
    position: fixed;
    background-color: #98C996;
    height: 80vh;
    width: 80vw;
    top: 10vh;
    left: 10vw;
    border-radius: 15px;
}