* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    opacity: 0.8;
    margin: 0;
    padding: 0;
}

.split-window {
    position: fixed;
    background-color: #98C996;
    height: 100vh;
    width: 50vw;
    right: 0px;
}

/* Login Screen  */

.game-window {
    position: fixed;
    background-color: #98C996;
    height: 80vh;
    width: 80vw;
    top: 10vh;
    left: 10vw;
    border-radius: 15px;
}